@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
}
.attribution { 
    font-size: 13px; 
    text-align: center;
    
    position: fixed;
    bottom: 0;
    width: 100%;
     
}
.attribution a { color: hsl(228, 45%, 44%); }

body{
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    color: whitesmoke;
    
}

p {
    margin: auto;
    padding: 50px ;
    font-family: 'Big Shoulders Display', cursive;
    color: rgba(245, 245, 245, 0.815);
    font-size: 20px;
    
}

.button {
   margin-left: 50px;
   background: rgba(255, 255, 255, 0.863);
   border-radius: 10px;
   text-decoration: none;
   border: none;
   width: 150px;
   height: 30px;
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
   cursor: pointer;
   outline: none;
}

.button:hover {
    background-color: whitesmoke;
}

button:active {
    background-color: whitesmoke;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20vh ;
    
    
    
}

.card-titulo {
    margin-top: 10%;

}

.card-sedans {
    background: hsl(31, 77%, 52%) ;
    height: 50vh;
    border-radius: 15px 0 0 15px ;
    

}
.card-sedans button {
    color:  hsl(31, 77%, 52%);
}

.card-suvs {
    background: hsl(184, 100%, 22%);
    height: 50vh;
}
.card-suvs button {
    color:hsl(184, 100%, 22%) ; 
}

.card-luxury {

    background:  hsl(179, 100%, 13%);
    height: 50vh;
    border-radius: 0 15px 15px 0;
}
.card-luxury button {
    color: hsl(179, 100%, 13%);
}

.icons {
    display: flex;
    justify-content: center;
}

